<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<script>
		$.ajax({
			url: 'http://milibangong.cn/Appservice/FormWidgets/editWfFormWidgets?callback=?',
			type: 'POST',
			data: {jsonStr: 'aaabbccc'},
		})
		.done(function() {
			console.log("success");
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
		
	</script>
</body>
</html>